[submodule "2023"]
	path = CMIMC/CMIMC_Programming2023
	url = git@github.com:qpwoeirut/CMIMC_Programming2023.git
[submodule "GunnCompetitiveProgrammingClub/2023/CPCSummerBattlecode"]
	path = GunnCompetitiveProgrammingClub/2023/CPCSummerBattlecode
	url = git@github.com:qpwoeirut/CPCSummerBattlecode.git
[submodule "CodeWeekend/CodeWeekend/CodeWeekend-1"]
	path = CodeWeekend/CodeWeekend/CodeWeekend-1
	url = git@github.com:qpwoeirut/CodeWeekend-1.git
[submodule "CodeWeekend/CodeWeekend-1"]
	path = CodeWeekend/CodeWeekend-1
	url = git@github.com:qpwoeirut/CodeWeekend-1.git
[submodule "CMIMC/PRIZE-CUTOFF-CMIMC-2025"]
	path = CMIMC/PRIZE-CUTOFF-CMIMC-2025
	url = git@github.com:EnchLolz/PRIZE-CUTOFF-CMIMC-2025.git
[submodule "ICFPC/ICFPC2025"]
	path = ICFPC/ICFPC2025
	url = git@github.com:qpwoeirut/ICFPC2025.git
[submodule "Battlecode/Battlecode2021"]
	path = Battlecode/Battlecode2021
	url = git@github.com:ryanbai1412/Battlecode2021.git
[submodule "Battlecode/Battlecode2023"]
	path = Battlecode/Battlecode2023
	url = git@github.com:TheK098/Battlecode2023.git
[submodule "Battlecode/Battlecode2024"]
	path = Battlecode/Battlecode2024
	url = git@github.com:qpwoeirut/Battlecode2024.git
[submodule "Battlecode/Battlecode2025"]
	path = Battlecode/Battlecode2025
	url = git@github.com:qpwoeirut/Battlecode2025.git
