[submodule "2023"]
	path = CMIMC/CMIMC_Programming2023
	url = git@github.com:qpwoeirut/CMIMC_Programming2023.git
[submodule "GunnCompetitiveProgrammingClub/2023/CPCSummerBattlecode"]
	path = GunnCompetitiveProgrammingClub/2023/CPCSummerBattlecode
	url = git@github.com:qpwoeirut/CPCSummerBattlecode.git
[submodule "CodeWeekend/CodeWeekend/CodeWeekend-1"]
	path = CodeWeekend/CodeWeekend/CodeWeekend-1
	url = git@github.com:qpwoeirut/CodeWeekend-1.git
[submodule "CodeWeekend/CodeWeekend-1"]
	path = CodeWeekend/CodeWeekend-1
	url = git@github.com:qpwoeirut/CodeWeekend-1.git
[submodule "CMIMC/PRIZE-CUTOFF-CMIMC-2025"]
	path = CMIMC/PRIZE-CUTOFF-CMIMC-2025
	url = git@github.com:EnchLolz/PRIZE-CUTOFF-CMIMC-2025.git
[submodule "ICFPC/ICFPC2025"]
	path = ICFPC/ICFPC2025
	url = git@github.com:qpwoeirut/ICFPC2025.git
